.topicos {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1.6rem 0;
}

.topicos__titulo {
  color: var(--branco);
  font-weight: 300;
  padding: 1.6rem;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos__item {
  margin: 3.2rem 0.8rem;
}

.topicos__link {
  color: var(--branco);
  padding: 1.6rem;
  background-color: var(--laranja);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 2.4rem;
    font-weight: 300;
  }

  .topicos__link {
    font-size: 2.4rem;
  }

  .topicos__lista {
    padding: 3.2rem 13.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .topicos {
    padding: 4.8rem 30vw;
  }

  .topicos__lista {
    padding: 0;
  }
}
